.loginContainer {
  text-align: center;
  max-width: 300px;
  margin: 0 auto;

  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .form-group {
    margin-bottom: 15px;

    label {
      display: block;
      font-weight: bold;
      margin-bottom: 5px;
    }

    input[type="email"],
    input[type="password"] {
      width: 100%;
      padding: 10px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 4px;

      &:focus {
        outline: none;
        border-color: #007bff; // Adjust the color as needed
      }
    }
  }

  button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff; // Adjust the color as needed
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;

    &:hover {
      background-color: #0056b3; // Adjust the color as needed
    }
  }

  .alert {
    margin-top: 15px;
    padding: 10px;
    background-color: #dc3545; // Adjust the color as needed
    color: #fff;
    border-radius: 4px;
    font-size: 16px;
  }
}
