$background-image: url("../../assets/rows-assorted-stationery.jpg");
$theme-color: #0080ff;

body {
  background: $background-image center/cover no-repeat;
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  height: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  justify-content: center;

  .login-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 279px;
    height: 305px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
      color: $theme-color;
    }

    form {
      width: 100%;

      .form-group {
        margin-bottom: 15px;

        input {
          width: 100%;
          padding: 10px;
          box-sizing: border-box;
          border: 1px solid #ccc;
          border-radius: 4px;
          outline: none;
        }
        .verify-button {
          width: 100%;
          margin-top: 9px;
        }
      }
      .OTP-margin {
        margin-top: 31px;
      }

      button {
        background-color: #0080ff;
        color: #fff;
        padding: 9px 31%;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
      }
    }

    hr {
      margin: 20px 0;
      border: 0.5px solid #ccc;
    }

    .forgot-password {
      margin-top: 10px;

      a {
        color: $theme-color;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
