<body>
     <div class="login-container">
          <h2>Forgot password</h2>
          <form *ngIf="!otpVerified" (ngSubmit)="verifyOTP()" #loginForm="ngForm">
               <div class="form-group">
                    <input type="email" id="email" placeholder="Email address" name="email" class="form-control"
                         [(ngModel)]="email" required>
               </div>
               <button type="button" class="btn btn-primary" (click)="verifyEmail()">Generate OTP</button>

               <div *ngIf="emailVerified" class="form-group OTP-margin">
                    <input type="text" id="OTP" placeholder="Enter OTP" name="OTP" class="form-control"
                         [(ngModel)]="otp" required>
                    <button type="submit" class="btn btn-primary verify-button">Verify</button>
               </div>
               <hr>
               <div class="forgot-password">
                    <a href="/login">Back to login</a>
               </div>
          </form>
          <form *ngIf="otpVerified" (ngSubmit)="resetPassword()" #createPasswordForm="ngForm">
               <!-- <div class="form-group">
                    <input type="email" id="email" placeholder="Email address" name="email" class="form-control"
                         [(ngModel)]="email" required>
               </div> -->
               <div class="form-group">
                    <input type="password" id="password" placeholder="password" name="password" class="form-control"
                         [(ngModel)]="password" required>
               </div>
               <div class="form-group">
                    <input type="password" id="confirmPassword" placeholder=" Confirm password" name="confirmPassword" class="form-control"
                         [(ngModel)]="confirmPassword" required>
               </div>
               <!-- <button type="button" class="btn btn-primary" (click)="verifyEmail()">Generate OTP</button> -->

               <!-- <div *ngIf="emailVerified" class="form-group OTP-margin"> -->
               <!-- <input type="text" id="OTP" placeholder="Enter OTP" name="OTP" class="form-control" -->
               <!-- [(ngModel)]="otp" required> -->
               <button type="submit" class="btn btn-primary">Verify</button>
               <!-- </div>
               <hr>
               <div class="forgot-password">
                    <a href="/login">Back to login</a>
               </div> -->
          </form>
     </div>
</body>