<div class="top-bar">
     <div class="dashboard-heading">{{ !isActivity ? 'School Dashboard' : 'Activity Dashboard' }}</div>
     <div class="profile">
          <div class="profile-open">
               <button type="button" (click)="SchoolDetails()" (click)="drawer.toggle()"></button>
               <img class="profile-image" src="../../assets/school-logo2.jpg" alt="Profile Image">
          </div>
          <div class="search-bar">
               <input type="text" class="search-input" placeholder="Search...">
          </div>
     </div>
</div>

<mat-drawer-container class="example-container" autosize> 
     <mat-drawer #drawer class="example-sidenav" mode="side">
          <div class="profile-container">
               <div class="profile-sidenav">
                    <div class="profile-image">
                         <img class="profile-img" src="../../assets/school-logo2.jpg" alt="">
                    </div>
                    <div class="profile-info">
                         <h2>Name: {{name}}</h2>
                         <p>Email: {{email}}</p>
                         <p>School ID: {{admin?.schoolID}}</p>
                         <p>Boys: {{admin?.noOfBoys}}</p>
                         <p>Girls: {{admin?.noOfGirls}}</p>
                         <p>Total: {{admin?.totalStudents}}</p>
                    </div>
                    <hr>
                    <div class="side-nav-button">
                         <button mat-button (click)="activity(true)" (click)="drawer.toggle()">Dashboard</button>
                         <button mat-button (click)="activity(false)" (click)="drawer.toggle()">Activity</button>
                         <button mat-button class="logout-button" (click)="logout()">Logout</button>
                    </div>
               </div>
          </div>
     </mat-drawer>

     <div *ngIf="!isActivity" class="example-sidenav-content">
          <div *ngIf="isLoading" class="spinner-overlay">
               <div class="spinner"></div>
          </div>
          <div class="body">
               <ng-template class="school-template" #formContent let-dialogRef let-closeDialog="closeDialog">
                    <div class="school-form">
                         <h2>{{ editMode ? 'Edit Student' : 'Add Student' }}</h2>
                         <form [formGroup]="myForm" (ngSubmit)="onSubmit();">
                              <div class="form-group">
                                   <label for="candidateName">Candidate Name:</label>
                                   <input type="text" id="candidateName" formControlName="candidateName" required>
                              </div>
                         
                              <div class="form-group">
                                   <label for="gender">Gender:</label>
                                   <select id="gender" formControlName="gender" required>
                                        <option value="male">Male</option>
                                        <option value="female">Female</option>
                                   </select>
                              </div>

                              <div class="form-group">
                                   <label for="dob">DOB:</label>
                                   <input type="date" id="dob" formControlName="dob" required>
                              </div>

                              <div class="form-group">
                                   <label for="age">Age:</label>
                                   <input type="number" id="age" formControlName="age" required>
                              </div>

                              <div class="form-group">
                                   <label for="candidateClass">Class:</label>
                                   <select id="candidateClass" formControlName="candidateClass" required>
                                        <option value="" disabled selected>Select Class</option>
                                        <option value="01">Class 1</option>
                                        <option value="02">Class 2</option>
                                        <option value="03">Class 3</option>
                                        <option value="04">Class 4</option>
                                        <option value="05">Class 5</option>
                                        <option value="06">Class 6</option>
                                        <option value="07">Class 7</option>
                                        <option value="08">Class 8</option>
                                        <option value="09">Class 9</option>
                                        <option value="10">Class 10</option>
                                        <option value="11">Class 11</option>
                                        <option value="12">Class 12</option>
                                   </select>
                              </div>

                              <div class="form-group">
                                   <label for="dominantSide">Dominant Side:</label>
                                   <input type="text" id="dominantSide" formControlName="dominantSide" required>
                              </div>

                              <div class="form-group">
                                   <label for="parentName">Name of Parent:</label>
                                   <input type="text" id="parentName" formControlName="parentName" required>
                              </div>

                              <div class="form-group">
                                   <label for="parentMobileNo">Parent's Mobile No:</label>
                                   <input type="text" id="parentMobileNo" formControlName="parentMobileNo" required>
                              </div>

                              <div class="form-group">
                                   <label for="alternateNo">Alternate No:</label>
                                   <input type="text" id="alternateNo" formControlName="alternateNo" required>
                              </div>

                              <div class="form-group">
                                   <label for="email">Email ID:</label>
                                   <input type="email" id="email" formControlName="email" required>
                              </div>

                              <div class="form-group">
                                   <label for="residenceArea">Residence Area/Colony:</label>
                                   <input type="text" id="residenceArea" formControlName="residenceArea" required>
                              </div>

                              <div class="form-group last-form-grou">
                                   <label for="residenceCity">Residence City:</label>
                                   <input type="text" id="residenceCity" formControlName="residenceCity" required>
                              </div>
                              <div class="form-group last-form-grou">
                                   <label for="pastInjury">Major Injury In the past:</label>
                                   <input type="text" id="pastInjury" formControlName="pastInjury" required>
                              </div>
                              <div class="form-group last-form-grou">
                                   <label for="presentInjury">Present Injury:</label>
                                   <input type="text" id="presentInjury" formControlName="presentInjury" required>
                              </div>
                              <div class="form-buttons">
                                   <button mat-raised-button type="submit">{{
                                        editMode ? 'Edit' :
                                        'Submit' }}
                                   </button>
                                   <button mat-raised-button color="accent" type="button"
                                        mat-dialog-close>Cancel</button>
                              </div>
                         </form>

                    </div>
               </ng-template>

               <div class="school-list">
                    <h2>Student List</h2>
                    <div class="dropdown-container">
                         <select id="dropdown1" class="dropdown" #classDropdown>
                              <option value="" disabled selected>Class</option>
                              <option value="01">01</option>
                              <option value="02">02</option>
                              <option value="03">03</option>
                              <option value="04">04</option>
                              <option value="05">05</option>
                              <option value="06">06</option>
                              <option value="07">07</option>
                              <option value="08">08</option>
                              <option value="09">09</option>
                              <option value="10">10</option>
                              <option value="11">11</option>
                              <option value="12">12</option>
                         </select>

                         <select id="dropdown2" class="dropdown" #genderDropdown>
                              <option value="" disabled selected>Gender</option>
                              <option value="male">Male</option>
                              <option value="female">Female</option>
                         </select>
                         <div>
                              <button mat-raised-button class='create-button' type="button"
                                   (click)="fetchStudentsByClassGender(classDropdown.value, genderDropdown.value)"><mat-icon>filter_list</mat-icon></button>
                         </div>
                         <div> <button mat-raised-button color="warn" class='create-button clear-filter' type="button"
                                   (click)="fetchStudents()" (click)="genderDropdown.value=''"
                                   (click)="classDropdown.value=''"><mat-icon>restore</mat-icon></button>
                         </div>
                         <button mat-raised-button class='create-button' type="button"
                              (click)="generateCandidatesExcel()"><mat-icon>get_app</mat-icon></button>
                    </div>
                    <button mat-raised-button class='create-button-openform'
                         (click)="openDialog()"><mat-icon>add</mat-icon></button>
                    <table>
                         <thead>
                              <tr>
                                   <th>Actions</th>
                                   <th>Candidate Name</th>
                                   <th>Candidate ID</th>
                                   <th>Gender</th>
                                   <th>Date of Birth</th>
                                   <th>Age</th>
                                   <th>Class</th>
                                   <th>Dominant Side</th>
                                   <th>Name of Parent</th>
                                   <th>Parent's Mobile No</th>
                                   <th>Alternate No</th>
                                   <th>Email ID</th>
                                   <th>Residence Area/Colony</th>
                                   <th>Residence City</th>
                                   <th>Major Past Injury</th>
                                   <th>Present Injury</th>
                              </tr>
                         </thead>
                         <tbody *ngIf="candidates">
                              <tr *ngFor="let candidate of candidates ">
                                   <td class="table-buttons">
                                        <div class="example-button-container">
                                             <button (click)="editCandidate(candidate)" mat-mini-fab color="accent"
                                                  aria-label="Example icon button with a plus one icon">
                                                  <mat-icon>create</mat-icon> </button>
                                        </div>
                                        <div class="example-button-container">
                                             <button (click)="deleteCandidate(candidate.email)" mat-mini-fab
                                                  color="warn" aria-label="Example icon button with a filter list icon">
                                                  <mat-icon>delete</mat-icon> </button>
                                        </div>
                                   </td>
                                   <td>{{ candidate?.candidateName }}</td>
                                   <td>{{ candidate?.candidateID }}</td>
                                   <td>{{ candidate?.gender }}</td>
                                   <td>{{ candidate?.dob | date:'shortDate' }}</td>
                                   <td>{{ candidate?.age }}</td>
                                   <td>{{ candidate?.candidateClass }}</td>
                                   <td>{{ candidate?.dominantSide }}</td>
                                   <td>{{ candidate?.parentName }}</td>
                                   <td>{{ candidate?.parentMobileNo }}</td>
                                   <td>{{ candidate?.alternateNo }}</td>
                                   <td>{{ candidate?.email }}</td>
                                   <td>{{ candidate?.residenceArea }}</td>
                                   <td>{{ candidate?.residenceCity }}</td>
                                   <td>{{ candidate?.pastInjury }}</td>
                                   <td>{{ candidate?.presentInjury }}</td>
                              </tr>
                         </tbody>
                    </table>
               </div>
          </div>
     </div>

     <div *ngIf="isActivity" class="example-sidenav-content">
          <div class="body">
               <div class="school-list">
                    <div class="chart-filter-bar-list">
                         <div>
                              <h2>Activities list</h2>
                         </div>
                         <div class="chart-filter-bar">
                              <div class="display-column">
                                   <label for="dropdown1">Activity</label>
                                   <select class="custom-dropdown left-dropdown-filter" id="dropdown1"
                                        [(ngModel)]="selectedActivity">
                                        <option disabled selected value="">Select Activity</option>
                                        <option *ngFor="let activity of allTaskFeilds" [value]="activity">{{activity}}
                                        </option>
                                   </select>
                              </div>
                              <div class="display-column">
                                   <label for="dropdown2">Rating</label>
                                   <select class="custom-dropdown" id="dropdown2" [(ngModel)]="selectedRating">
                                        <option disabled selected value="">Select Rating</option>
                                        <option value="Above Average">Above Average</option>
                                        <option value="Average">Average</option>
                                        <option value="Below Average">Below Average</option>
                                   </select>
                              </div>
                              <button mat-raised-button class='create-button' type="button"
                                   (click)="onFilterClick()"><mat-icon>filter_list</mat-icon>Filter</button>
                              <button mat-raised-button color="warn" class='create-button clear-filter' type="button"
                                   (click)="fetchStudentsActivity()"><mat-icon>restore</mat-icon>Filter</button>
                              <button mat-raised-button class='create-button' type="button"
                                   (click)="generateActivityExcel()"><mat-icon>get_app</mat-icon></button>
                         </div>
                    </div>
                    <table>
                         <thead>
                              <tr>
                                   <th>Candidate Name</th>
                                   <th>Candidate ID</th>
                                   <th>Class</th>
                                   <th>Name of Parent</th>
                                   <th>Parent's Mobile No</th>
                                   <th>Alternate No</th>
                                   <th>Residence Area/Colony</th>
                                   <th>Residence City</th>
                                   <th>Assessment Team</th>
                                   <th>Assessment Date</th>
                                   <th>Assessment ID</th>
                                   <th>Assign Date</th>
                              </tr>
                         </thead>
                         <tbody>
                              <tr *ngFor="let candidateActivity of candidateActivities">
                                   <td>{{ candidateActivity.Name }}</td>
                                   <td>{{ candidateActivity.ID }}</td>
                                   <td>{{ candidateActivity.Class }}</td>
                                   <td>{{ candidateActivity.ParentName }}</td>
                                   <td>{{ candidateActivity.ParentMobileNo }}</td>
                                   <td>{{ candidateActivity.AlternateNo }}</td>
                                   <td>{{ candidateActivity.ResidenceArea }}</td>
                                   <td>{{ candidateActivity.ResidenceCity }}</td>
                                   <td>{{ candidateActivity.AssessmentTeam }}</td>
                                   <td>{{ candidateActivity.AssessmentDate }}</td>
                                   <td>{{ candidateActivity.AssessmentID }}</td>
                                   <td>
                                        <form (submit)="saveCandidateAssinmentData(candidateActivity)">
                                             <input type='date' name="data" id="data" [(ngModel)]="dateFormData"
                                                  required>
                                             <h5>{{candidateActivity.AssessmentDate}}</h5>
                                             <button mat-flat-button type="submit">Save Date</button>
                                        </form>

                                   </td>
                              </tr>
                         </tbody>
                    </table>
               </div>
          </div>
     </div>
</mat-drawer-container>