.school-template {
  overflow: auto;
}

.school-form {
  background-color: rgb(255, 255, 255);
  max-width: 45vw;

  h2 {
    font-size: 25px;
    text-align: center;
    padding: 19px 0px 0px 0px;
  }


  form {
    display: flex;
    flex-wrap: wrap;
    padding: 3% 5% 10% 5%;
    width: 89%;

    .form-group {
      flex-basis: calc(50% - 10px);
      margin: 5px;

      label {
        display: block;
        font-weight: bold;
      }

      input,
      select {
        width: 91%;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-top: 5px;
      }
    }

    .lst-form-group {
      position: relative;
    }

    button {
      // position: absolute;
      // background-color: #007BFF;
      // color: #fff;
      // border: none;
      // border-radius: 5px;
      // padding: 10px 20px;
      // font-size: 16px;
      // cursor: pointer;
      // text-align: center;
      // bottom: 14px;
      // text-decoration: none;
      // transition: background-color 0.3s;
      background-color: #007BFF;
      color: #fff;
      border: none;
      border-radius: 7px;
      padding: 8px 28px;
      margin: 9px 27px 16px 3px;
      font-size: 16px;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      transition: background-color 0.3s;
    }
  }

}

.example-container {
  width: 100%;
  height: 100%;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  background-color: white;
  padding: 0% 2%;

  .body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #ffffff;
    width: 100%;

    .school-list {
      margin: 20px;
      max-height: 859px;
      overflow: auto;
      // overflow-x: auto;
      position: relative;

      .chart-filter-bar-list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 8px;

        div {
          h2 {
            font-size: 27px;
            // margin-bottom: 10px;
            margin: 12px 16px 0px 16px;
          }

        }

        .chart-filter-bar {
          display: flex;
          align-items: center;

          .display-column {
            display: flex;
            flex-direction: column;
            align-items: center;

            .custom-dropdown {
              padding: 8px 29px 8px 6px;
              margin: 0px 7px 0px 9px;
              border: 1px solid #ccc;
              border-radius: 4px;
              font-size: 14px;
              color: #333;
              box-sizing: border-box;
            }

            .left-dropdown-filter {
              margin-left: 86px;
            }

            .custom-dropdown::-webkit-scrollbar {
              display: none;
            }

            .custom-dropdown {
              -ms-overflow-style: none;
              scrollbar-width: none;
            }
          }


          .create-button {
            margin: 20px 7px 1px 7px;

            // background-color: #007bff;
            // color: #fff;
            // border: none;
            // border-radius: 4px;
            // cursor: pointer;
            // transition: background-color 0.3s;
            // height: 33px;
            // width: 109px;
            .filter-triangle,
            .filter-bar {
              position: absolute;
              top: 0;
              left: 0;
              width: 1em;
              text-align: center;
            }

            .filter-bar {
              top: 0.1em;
            }
          }

          .clear-filter {
            background-color: #af0000;

          }

          // .create-button:hover {
          //   background-color: #0056b3;
          // }
        }
      }

      // h2 {
      //   font-size: 27px;
      //   margin-bottom: 10px;
      // }

      .create-button-openform {
        right: 3px;
        position: absolute;
        // background-color: #007bff;
        // color: #fff;
        top: 0px;
        // border: none;
        // padding: 10px 20px;
        // border-radius: 4px;
        // cursor: pointer;
        // transition: background-color 0.3s;
      }

      // .create-button:hover {
      //   background-color: #0056b3;
      // }

      table {
        width: 100%;
        border-collapse: collapse;

        th {
          background-color: #f2f2f2;
        }

        th,
        td {
          padding: 8px;
          border: 1px solid #ddd;

          button {
            // padding: 7px 20px;
            // margin: 5px;
            // border: none;
            // background: #008500;
            // color: white;
            // cursor: pointer;
            // border-radius: 5px;
            // font-weight: bold;
            // transition: background-color 0.3s;
          }

          .edit {
            background-color: #fca938;
            min-width: 80px;
          }

          .delete {
            background-color: red;
            min-width: 80px;
          }
        }

        .table-buttons {
          display: flex;
          border-bottom: none;
          padding-top: 19px;
        }

        tr:nth-child(even) {
          background-color: #f2f2f2;
        }

        tr:hover {
          background-color: #e0e0e0;
        }
      }
    }

  }
}

.school-list::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.school-list::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 2px;
}

.school-list::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.example-sidenav {
  padding: 20px;
  background-color: #333;

  .profile-container {
    height: 100%;
  }

  .profile-sidenav {
    width: 300px;
    display: grid;
    place-items: center;
  }

  .profile-image {
    height: 167px;
    text-align: center;
    border: #ffffff 5px solid;
    border-radius: 100%;
    width: 167px;
    overflow: hidden;

    .profile-img {
      width: 166px;
      height: 176px;
    }
  }

  .side-nav-button {
    display: flex;
    flex-direction: column;
    magin-left: 10px;
    align-items: center;
  }

  .profile-info {
    text-align: center;
  }

  .logout-button {
    color: rgb(255, 255, 255);
    margin: 16px;
  }

}

.top-bar {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  flex-direction: row-reverse;

  .dashboard-heading {
    font-size: 24px;
  }

  .profile {
    display: flex;
    align-items: center;

    .profile-open {
      position: relative;

      button {
        background-color: transparent;
        position: absolute;
        border: none;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: 6px -10px;
      }

      .profile-image {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #fff;
        margin-right: 10px;
        border: #ffffff 3px solid;
      }

    }

    .search-bar {
      display: flex;
      align-items: center;
      margin-right: 10px;

      .search-input {
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
    }


  }
}