<div class="top-bar">
     <div class="dashboard-heading">Admin Dashboard</div>
     <div class="profile">
          <div class="profile-open">
               <button (click)="adminDetails()" (click)="drawer.toggle()"></button>
               <img class="profile-image" src="../../assets/admin-logo6.jpg" alt="Profile Image">
          </div>
          <div class="search-bar">
               <input type="text" class="search-input" placeholder="Search...">
          </div>

          <span>Welcome, Admin</span>
     </div>
</div>

<mat-drawer-container class="example-container" autosize>
     <mat-drawer #drawer class="example-sidenav" mode="side">
          <div class="profile-container">
               <div class="profile-sidenav">
                    <div class="profile-image">
                         <img class="profile-img" src="../../assets/admin-logo6.jpg" alt="">
                    </div>
                    <div class="profile-info">
                         <h2>Name: {{firstName}} {{lastName}}</h2>
                         <p>Email: {{email}}</p>
                         <p>Ph: {{phoneNumber}}</p>
                    </div>
                    <hr>
                    <div class="side-nav-button">
                         <button mat-button (click)="activity(true)" (click)="drawer.toggle()">School Dashboard</button>
                         <button mat-button (click)="activity(false)" (click)="drawer.toggle()">Assessor
                              Dashboard</button>
                         <button mat-button class="logout-button" (click)="logout()">Logout</button>
                    </div>
               </div>
          </div>
     </mat-drawer>

     <div *ngIf="isActivity" class="example-sidenav-content">
          <div class="body">
               <ng-template class="school-template" #formContent let-dialogRef let-closeDialog="closeDialog">
                    <div class="school-form">
                         <h2>{{ editMode ? 'Edit Assessor' : 'Add Assessor' }}</h2>
                         <form [formGroup]="myForm1" (ngSubmit)="onSubmitOfAsssessor(); ">
                              <div class="form-group">
                                   <label for="name">Name</label>
                                   <input type="text" id="name" formControlName="name" required>
                              </div>

                              <div class="form-group">
                                   <label for="phNO">Contact No:</label>
                                   <input type="text" id="phNO" formControlName="phNO" required>
                              </div>

                              <div class="form-group">
                                   <label for="email">E-mail ID:</label>
                                   <input type="email" id="email" formControlName="email" required>
                              </div>

                              <div class="form-group">
                                   <label for="address">Address:</label>
                                   <input type="text" id="address" formControlName="address" required>
                              </div>
                              <div class="form-buttons"> <button mat-raised-button type="submit"
                                        class="btn btn-primary">{{ editMode ? 'Edit' :
                                        'Submit' }}</button>
                                   <button type="button" color="accent" mat-raised-button mat-dialog-close
                                        class="btn btn-primary">Cancel</button>
                              </div>

                         </form>
                    </div>
               </ng-template>

               <div class="school-list">
                    <h2>Assessor List</h2>
                    <button mat-raised-button class='create-button'
                         (click)="openDialog()"><mat-icon>add</mat-icon></button>
                    <table>
                         <thead>
                              <tr>
                                   <th>Actions</th>
                                   <th>Name</th>
                                   <th>PH NO</th>
                                   <th>Email</th>
                                   <th>Address</th>
                              </tr>
                         </thead>
                         <tbody>
                              <tr *ngFor="let assessor of assessors">
                                   <td class="table-buttons">
                                        <div class="example-button-container">
                                             <button (click)="editAssessor(assessor)" mat-mini-fab color="accent"
                                                  aria-label="Example icon button with a plus one icon">
                                                  <mat-icon>create</mat-icon> </button>
                                        </div>
                                        <div class="example-button-container">
                                             <button (click)="deleteAssesor(assessor._id)" mat-mini-fab color="warn"
                                                  aria-label="Example icon button with a filter list icon">
                                                  <mat-icon>delete</mat-icon> </button>
                                        </div>
                                   </td>
                                   <td>{{ assessor.name }}</td>
                                   <td>{{ assessor.phNO }}</td>
                                   <td>{{ assessor.email }}</td>
                                   <td>{{ assessor.address }}</td>
                              </tr>
                         </tbody>
                    </table>
               </div>

          </div>
     </div>
     <div *ngIf="!isActivity" class="example-sidenav-content">
          <div class="body">
               <ng-template class="school-template" #formContent let-dialogRef let-closeDialog="closeDialog">
                    <div class="school-form">
                         <h2>{{ editMode ? 'Edit School' : 'Add School' }}</h2>
                         <form [formGroup]="myForm" (ngSubmit)="onSubmit(); ">
                              <div class="form-group">
                                   <label for="schoolName">Name of the School:</label>
                                   <input type="text" id="schoolName" formControlName="schoolName" required>
                              </div>

                              <div class="form-group">
                                   <label for="schoolCity">schoolCity:</label>
                                   <input type="text" id="schoolCity" formControlName="schoolCity" required
                                        minlength="4">
                              </div>

                              <div class="form-group">
                                   <label for="contactName">School Contact Name:</label>
                                   <input type="text" id="contactName" formControlName="contactName" required>
                              </div>

                              <div class="form-group">
                                   <label for="contactNo">School Contact No:</label>
                                   <input type="text" id="contactNo" formControlName="contactNo" required>
                              </div>

                              <div class="form-group">
                                   <label for="schoolEmail">School E-mail ID:</label>
                                   <input type="email" id="schoolEmail" formControlName="schoolEmail" required>
                              </div>

                              <div class="form-group">
                                   <label for="schoolType">School Type:</label>
                                   <select id="schoolType" formControlName="schoolType" required>
                                        <option value="CBSE">CBSE</option>
                                        <option value="SSC">SSC</option>
                                        <option value="ISCE">ISCE</option>
                                   </select>
                              </div>


                              <div class="form-group">
                                   <label for="principalName">Name of Principal:</label>
                                   <input type="text" id="principalName" formControlName="principalName" required>
                              </div>

                              <div class="form-group">
                                   <label for="principalContact">Principal Contact No:</label>
                                   <input type="text" id="principalContact" formControlName="principalContact" required>
                              </div>

                              <div class="form-group">
                                   <label for="principalEmail">Principal E-mail ID:</label>
                                   <input type="email" id="principalEmail" formControlName="principalEmail" required>
                              </div>

                              <div class="form-group">
                                   <label for="classesFrom">Classes From:</label>
                                   <input type="number" id="classesFrom" formControlName="classesFrom" required>
                              </div>

                              <div class="form-group">
                                   <label for="classesTo">Classes To:</label>
                                   <input type="number" id="classesTo" formControlName="classesTo" required>
                              </div>

                              <div class="form-group">
                                   <label for="totalStudents">Total No of Students:</label>
                                   <input type="number" id="totalStudents" formControlName="totalStudents" required>
                              </div>

                              <div class="form-group">
                                   <label for="noOfBoys">No of Boys:</label>
                                   <input type="number" id="noOfBoys" formControlName="noOfBoys" required>
                              </div>

                              <div class="form-group">
                                   <label for="noOfGirls">No of Girls:</label>
                                   <input type="number" id="noOfGirls" formControlName="noOfGirls" required>
                              </div>
                              <div class="form-buttons">
                                   <button mat-raised-button type="submit" class="btn btn-primary">{{ editMode ? 'Edit'
                                        :
                                        'Submit' }}</button>
                                   <button type="button" mat-raised-button color="accent"
                                        mat-dialog-close>Cancel</button>
                              </div>
                         </form>
                    </div>
               </ng-template>

               <div class="school-list">
                    <h2>School List</h2>
                    <button mat-raised-button class='create-button'
                         (click)="openDialog()"><mat-icon>add</mat-icon></button>
                    <table>
                         <thead>
                              <tr>
                                   <th>Actions</th>
                                   <th>School Name</th>
                                   <th>ID</th>
                                   <th>Contact Name</th>
                                   <th>Contact No</th>
                                   <th>E-mail ID</th>
                                   <th>Type</th>
                                   <th>City</th>
                                   <th>Principal Name</th>
                                   <th>Principal Contact No</th>
                                   <th>Principal E-mail</th>
                                   <th>Classes From</th>
                                   <th>Classes To</th>
                                   <th>Total Students</th>
                                   <th>Total Boys</th>
                                   <th>Total Girls</th>
                              </tr>
                         </thead>
                         <tbody>
                              <tr *ngFor="let school of schools">
                                   <td class="table-buttons">
                                        <div class="example-button-container">
                                             <button (click)="editSchool(school)" mat-mini-fab color="accent"
                                                  aria-label="Example icon button with a plus one icon">
                                                  <mat-icon>create</mat-icon> </button>
                                        </div>
                                        <div class="example-button-container">
                                             <button (click)="deleteSchool(school._id)" mat-mini-fab color="warn"
                                                  aria-label="Example icon button with a filter list icon">
                                                  <mat-icon>delete</mat-icon> </button>
                                        </div>
                                   </td>
                                   <td>{{ school.schoolName }}</td>
                                   <td>{{ school.schoolID }}</td>
                                   <td>{{ school.contactName }}</td>
                                   <td>{{ school.contactNo }}</td>
                                   <td>{{ school.schoolEmail }}</td>
                                   <td>{{ school.schoolType }}</td>
                                   <td>{{ school.schoolCity }}</td>
                                   <td>{{ school.principalName }}</td>
                                   <td>{{ school.principalContact }}</td>
                                   <td>{{ school.principalEmail }}</td>
                                   <td>{{ school.classesFrom }}</td>
                                   <td>{{ school.classesTo }}</td>
                                   <td>{{ school.totalStudents }}</td>
                                   <td>{{ school.noOfBoys }}</td>
                                   <td>{{ school.noOfGirls }}</td>
                              </tr>
                         </tbody>
                    </table>
               </div>

          </div>
     </div>

</mat-drawer-container>